<template name="online">
{{#contentFor "headerTitle"}}
  <h1 class="title">Rock Paper Scissor</h1>
{{/contentFor}}
{{#ionView}}
	{{#ionContent}}
		<ul class="nav">{{> loginButtons}}</ul>
		{{#ionList class="my-class"}}
		  <div class="item item-divider">
		    <div class="row">
			  <div class="col"><strong>Player</strong></div>
			  <div class="col col-50"><strong>Country</strong></div>
		    </div>	
		  </div>
		  <a class="item">
		    <div class="row">
			  <div class="col">John Doe</div>
			  <div class="col col-50">Philippines</div>
		    </div>	
		  </a>
		  <a class="item">
		    <div class="row">
			  <div class="col">Matt Hamil</div>
			  <div class="col col-50">Philippines</div>
		    </div>	
		  </a>
		  <a class="item">
		    <div class="row">
			  <div class="col">Rombuseka Porpramuk</div>
			  <div class="col col-50">Thailand</div>
		    </div>	
		  </a>
		{{/ionList}}
	{{/ionContent}}
{{/ionView}}
</template>
