<template name="chat">
{{#contentFor "headerTitle"}}
  <h1 class="title">Rock Paper Scissor</h1>
{{/contentFor}}
{{#ionView}}
	{{#ionContent}}
		<ul class="nav">{{> loginButtons}}</ul>
		{{#if currentUser}}
		<div class="bar bar-footer bar-stable" data-keyboard-attach>
		  <div class="item item-input-inset">
		    <label class="item-input-wrapper">
		      <input type="text" placeholder="Email">
		    </label>
		    <button class="button button-positive">
		      Submit
		    </button>
		  </div>
		</div>
		{{else}}
		<p class="login">Please login to view the game list.</p>
		{{/if}}
	{{/ionContent}}
{{/ionView}}
</template>
